.background {
  background: center no-repeat url(https://ingsaurabh.github.io/All-Screen/splash.jpg);
}

.logo {
  background-image: url(https://ingsaurabh.github.io/All-Screen/logo.png);
}

.progressBar {
  background-color: rgb(238, 255, 65);
}

.splash {
  background-image: url(https://ingsaurabh.github.io/All-Screen/splash.jpg);
}
