.background {
  background: center no-repeat url(https://github.com/ingsaurabh/All-Screen/blob/master/splash.jpg);
}

.logo {
  background-image: url(https://github.com/ingsaurabh/All-Screen/blob/master/logo.png);
}

.progressBar {
  background-color: rgb(238, 255, 65);
}

.splash {
  background-image: url(https://github.com/ingsaurabh/All-Screen/blob/master/splash.jpg);
}
